

            <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">

               
                <div class="flex flex-row justify-between ">

                    <div class="form-group mb-5 w-1/2">                 
                            <select type="text" placeholder="Modelo" name="model" class="w-3/4 py-4 px-8 bg-slate-200 placeholder:font-semibold rounded hover:ring-1 outline-blue-500 " 
                                [(ngModel)]="vehicle.brand" #model="ngModel" [ngClass]="{'is-invalid': (model.dirty || model.touched) && model.invalid }" required>
                            <!-- <div *ngIf="(nick.dirty || nick.touched) && nick.invalid" class="invalid-feedback">
                                <div *ngIf="nick.errors?.['required']">El usuario es obligatorio</div>
                            </div> -->
                                <option value="undefined" disabled hidden selected> Marca</option>
                                <option value="ford">Ford</option>
                                <option value="skoda">Skoda</option>
                                <option value="mercedes">Mercedes</option>
                                <option value="bmw">BMW</option>
                                <option value="renault">Renault</option>
                                <option value="mazda">Mazda</option>
                                <option value="audi">Audi</option>
                            </select>
                        </div>
                  <div class="form-group mb-5 w-1/2 flex justify-end">               
                    <select type="text" placeholder="Color" name="color" class="w-3/4 py-4 px-8 bg-slate-200 placeholder:font-semibold rounded hover:ring-1 outline-blue-500 " 
                        [(ngModel)]="vehicle.color" #color="ngModel" [ngClass]="{'is-invalid': (color.dirty || color.touched) && color.invalid }" required>
                    <!-- <div *ngIf="(nick.dirty || nick.touched) && nick.invalid " class="invalid-feedback">
                        <div *ngIf="nick.errors?.['required']">El usuario es obligatorio</div>
                    </div> -->
                        <option value="undefined" disabled hidden selected>Color</option>
                        <option value="rojo">Rojo</option>
                        <option value="blanco">Blanco</option>
                        <option value="azul">Azul</option>
                        <option value="negro">Negro</option>
                    </select>
                </div>
                </div>
                <div class="flex flex-row justify-between">
                 <div class="form-group mb-5 w-1/2">               
                    <input type="text" placeholder="Modelo" name="brand" class="w-3/4 py-4 px-8 bg-slate-200 placeholder:font-semibold rounded hover:ring-1 outline-blue-500 " 
                        [(ngModel)]="vehicle.model" #brand="ngModel" [ngClass]="{'is-invalid': (brand.dirty || brand.touched) && brand.invalid }" required>
                    <!-- <div *ngIf="(nick.dirty || nick.touched) && nick.invalid " class="invalid-feedback">
                        <div *ngIf="nick.errors?.['required']">El usuario es obligatorio</div>
                    </div> -->
                </div>

                <div class="form-group mb-5 w-1/2 flex justify-end">               
                    <input type="number" placeholder="Año" name="year" max="3000"  class="w-3/4 py-4 px-8 bg-slate-200 placeholder:font-semibold rounded hover:ring-1 outline-blue-500 " 
                        [(ngModel)]="vehicle.year" #year="ngModel" [ngClass]="{'is-invalid': (year.dirty || year.touched) && year.invalid }" required>
                    <!-- <div *ngIf="(nick.dirty || nick.touched) && nick.invalid " class="invalid-feedback">
                        <div *ngIf="nick.errors?.['required']">El usuario es obligatorio</div>
                    </div> -->
                </div>


                </div>
                <div class="flex flex-row justify-between">
                    <div class="form-group mb-5 w-1/2">               
                        <input type="date" placeholder="Día entrada" name="entry_date" class="w-3/4 py-4 px-8 bg-slate-200 placeholder:font-semibold rounded hover:ring-1 outline-blue-500 " 
                            [(ngModel)]="vehicle.entry_date" #entry_date="ngModel" required> 
                            <!-- <div *ngIf="(nick.dirty || nick.touched) && nick.invalid " class="invalid-feedback">
                                <div *ngIf="nick.errors?.['required']">El usuario es obligatorio</div>
                            </div>-->
                                
                    </div>
                    <div class="form-group mb-5 w-1/2 flex justify-end">      
                            
                        <select name="status" class="w-3/4 py-4 px-8 bg-slate-200 placeholder:font-semibold rounded hover:ring-1 outline-blue-500 " 
                            [(ngModel)]="vehicle.status" #status="ngModel" required>
                        <!-- <div *ngIf="(nick.dirty || nick.touched) && nick.invalid " class="invalid-feedback">
                            <div *ngIf="nick.errors?.['required']">El usuario es obligatorio</div>
                        </div> -->
                            <option value="undefined" disabled hidden selected>
                            Elige un estado
                            </option>
                            <option value="activo">Activo</option>
                            <option value="inactivo">Inactivo</option>
                        </select>
                    </div>
                </div>
                
                <div class="form-group flex justify-center">
                    <button type="submit" class="py-4 bg-blue-400 w-1/2 rounded text-blue-50 font-bold hover:bg-blue-700" [disabled]="userForm.invalid">Create</button>
                </div>
                <!-- <button mat-stroked-button (click)="openSnack()">Show snack-bar</button> -->
                    <!-- <div class="invalid-feedback mt-5 text-red-500" *ngIf="(password .dirty || password .touched) && password .invalid">
                        <div *ngIf="password.errors?.['required']">El password es obligatorio
                        </div>
                    </div> -->
            </form>



