/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-tab-body-wrapper {
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.mat-typography p {
    margin: 0 !important;
}
.mat-tab-label-content {
    color: rgb(46, 46, 46);
}
.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background: rgb(15, 87, 182);
   
}